<!-- <p>Cantidad de Libros : {{Books.length}} </p> -->


<div class="container">

  <h1 style="display: flex; justify-content: center">Libros</h1>
  <div class="input">
    <div>
      <label class="space">Nombre</label>
      <input pInputText [(ngModel)]="nameBook" />
    </div>

    <div>
      <label class="space">Paginas Minimo</label>
      <input type="number" pInputText [(ngModel)]="pages" />
    </div>
  </div>

  <div class="input">
    <div>
      <label class="space">Especialidad:</label>
      <p-dropdown [options]="books" [(ngModel)]="selectBook" placeholder="Seleccione una opción" optionLabel="name"></p-dropdown>
    </div>

    <div>
      <label class="space">Fecha desde:</label>
      <p-calendar [(ngModel)]="date"> </p-calendar>
    </div>

    <div>
      <label class="space">Fecha hasta:</label>
      <p-calendar [(ngModel)]="date2" ></p-calendar>
    </div>
  </div>
  
  <div class="card flex justify-content-center" style="display: flex; justify-content: center">
    <button (click)="filterList()" pButton pRipple label="Buscar" class="p-button-success"></button>
  </div>

</div>



<div class="card">
  <p-table [value]="filteredList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Fecha Publicacion</th>
        <th>Especialidad</th>
        <th>Cantidad Paginas</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ book.speciality }}</td>
        <td>{{ book.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>